{% extends "base_email.html" %}

{% block header %}
<div class="header" style="background:#007bff;">Your Account Credentials</div>
{% endblock %}

{% block content %}
<p>Hello <b>{{ first_name }} {{ last_name }}</b>,</p>
<p>Here are your login details:</p>
<div class="box">
  <p><b>Email:</b> {{ email }}</p>
  {% if employee_number %}
  <p><b>Employee Number:</b> {{ employee_number }}</p>
  {% endif %}
  <p><b>Password:</b> {{ password }}</p>
</div>
<p>Please keep this information secure.</p>
{% endblock %}